<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/boas.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3>Usuário autenticado: {{ usuarios.nome }}</h3>
        <p>Você está logado</p>

        <div class="mario">
            <img src="img/3.gif" alt="Mario">
        </div>

        <div class="links">
            <a href="logout.php">Sair</a> 
            <a href="/trabalho/documentos.php?idusuarios={{ usuarios.idusuarios }}">Upload de documentos</a>
            <a href="/trabalho/listaC.php?idusuarios={{ usuarios.idusuarios }}">Documentos compartilhados comigo</a>
        </div>
    </div>
</body>
</html>