

{% block conteudo %}
<link rel="stylesheet" href="css/doc.css">
<div class="container">
    <div class="content">
        <h1>Documentos</h1>
        <a class="game-button" href="arquivos.php?idusuarios={{ id }}">Meus documentos</a>
        <a class="game-button" href="/trabalho/documentos_novo.php?idusuarios={{ id }}">Novo documento</a>
        <a class="game-button" href="logout.php">SAIR</a>
    </div>
    <div class="images">
        <img src="img/9.gif" alt="Mario 1">
        <img src="img/9.gif" alt="Mario 2">
        <img src="img/9.gif" alt="Mario 3">
    </div>
{% endblock %}