{% extends "inc/base.html" %}

{% block titulo %}usuario{% endblock %}

{% block conteudo %}

{% if erro == 1 %}
    Usuário ou senha inválidos!

{% endif %}
    
    <link rel="stylesheet" href="css/login.css">

    <form class="form" action="login_verifica.php" method="post" autocomplete="off">
        <div class="control">
            <h1>Login</h1>
        </div>
        <div class="control block-cube block-input">
            <input type="text" name="nome"  placeholder="usuário" />
            <div class="bg-top">
                <div class="bg-inner"></div>
            </div>
            <div class="bg-right">
                <div class="bg-inner"></div>
            </div>
            <div class="bg">
                <div class="bg-inner"></div>
            </div>
        </div>
        <div class="control block-cube block-input">
            <input name="password" type="password" placeholder="senha" />
            <div class="bg-top">
                <div class="bg-inner"></div>
            </div>
            <div class="bg-right">
                <div class="bg-inner"></div>
            </div>
            <div class="bg">
                <div class="bg-inner"></div>
            </div>
        </div>
        <button class="btn block-cube block-cube-hover" type="submit">
            <div class="bg-top">
                <div class="bg-inner"></div>
            </div>
            <div class="bg-right">
                <div class="bg-inner"></div>
            </div>
            <div class="bg">
                <div class="bg-inner"></div>
            </div>
            <div class="text" value="acessar">enviar</div>
        </button>
    </form>
    <center>
    <div>
        <a  class="button" href="novo_usuario.php ">Não tenho Cadastro</a>
    </div>
</center>

{% endblock %}

