<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/show.css">
    <title>Document</title>
</head>
<body>
    
    <table border="1px solid black">

<thead >
    <tr>
        <th>Usuarios</th>
         <th>Permitir edição</th>
        <th>Compartilhar documento</th>
    </tr>
</thead>

<tbody>
    {%for usr in users%}
    <form action="compartilhar.php?idusuarios={{usr.idusuarios}}&iddocumentos={{iddocumentos.iddocumentos}}" method="post">
        <tr >
            <td>{{usr.nome}}</td>


            <td>
                <select name="select" id="">
                    <option value="1" name="viz">Vizualizar</option>
                    <option value="2" name="exlcuir">Excluir</option>
                </select>
            </td>
           
            <td><input type="submit" value="Compartilhar"></td>
        </tr>
        </form>
        {%else%}
            <tr>
            <td colspan = 2>Nenhum usuario encontrado</td>
            </tr>
    {%endfor%}
    
</tbody>

</table>
    <img src="img/rio.gif" alt="GIF" />



</body>
</html>
